
<main class="d-flex w-100">
    <div class="container d-flex flex-column mt-5">
        <div class="row vh-90">
            <div class="col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto d-table w-sm-100 h-100 d-flex flex-md-row flex-sm-column justify-content-center align-items-center">
                <div class="card col-md-12 col-sm-12">
                    <div class="card-body">
                        <div class="m-sm-3">
                            <form [formGroup]="signinData" (submit)="validateUser()" novalidate>
                                <div class="mb-4">
                                    <label class="form-label">Username</label>
                                    <input class="form-control form-control-md" type="text" formControlName="username"
                                        placeholder="Enter Username" />
                                    <sub *ngIf="signinData.controls['username'].invalid && signinData.controls['username'].dirty && signinData.controls['username'].errors"
                                        class="text-danger bg-transparent">
                                        Username is required*
                                    </sub>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Password</label>
                                    <input class="form-control form-control-md" type="text" formControlName="password"
                                        placeholder="Enter Password" required />
                                </div>

                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" [disabled]="!signinData.valid"
                                        class="btn btn-md btn-primary">Sign In</button>
                                </div>

                                <div class="signin d-flex justify-content-center">
                                    <p class="please-signin">Do not have an account? </p><a type="button" [routerLink]="'/signup'">Sign Up</a>.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>