.card {
    font-family: 'Poppins';
}

.card-title {
    font-size: 24px;
    font-weight: 500;
    gap: 10px;
}

.features {
    gap: 20px;
}

.feature {
    gap: 10px;
    background: #EBEBEB;
}

.feature-icon {
    font-size: 16px;
}

.feature-text {
    font-weight: 500;
}

.card-img-top {
    width: 40%;
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

.card {
    border: none;
}

.card:hover {
    background: #F6F8F9;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.ratings {
    gap: 5px;
}

.rating {
    font-weight: 600;
    font-size: 16px;
}

.bi-star-fill {
    font-size: 20px;
}

.area {
    font-weight: 300;
}

.strong {
    font-weight: 600;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.city {
    color: #8b8b8b;
}

.property-category {
    font-size: 10px;
    font-weight: 400;
}

.bi-heart, .bi-heart-fill {
    font-size: 20px;
    color: #000000;
}

@media screen and (max-width: 1000px)  {
    .card-img-top {
        width: 60%;
        height: auto;
        border-radius: 5px 5px 5px 5px;
    }
}

@media screen and (max-width: 800px) {
    .feature-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 764px) {
    .card-img-top {
        width: 100%;
    }

    .area {
        font-size: 12px;
    }

    .feature {
        font-size: 10px;
    }
}
