.container {
    width: 100%;
}

.cards {
    gap: 20px;
}

.controls {
    font-family: 'Montserrat';
}

.control-icons {
    font-size: 24px;
    font-weight: 900;
}

.category-controls {
    gap: 40px;
}

.category-control {
    gap: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.category-control:hover {
    color: #e4303f;
}

.category-control-text {
    font-weight: 500;
    margin-bottom: 0px;
}

.filter {
    gap: 10px;
    color: #222222;
    border-color: #e0e0e0;
    border-radius: 10px;
}

.filter:hover {
    background: #F6F8F9;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 15rem;
}

.form-inline {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-control {
    border: none;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: #afafaf;
    font-weight: 400;
    font-size: 12px;
}

.input-container i {
    position: absolute;
    right: 20px;
}

.search-filter {
    gap: 20px;
}

.carousel-slide {
    height: 90vh;
}

.carousel-inner {
    border-radius: 20px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: black;
}

.caption-titles {
    font-family: 'Montserrat';
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
}

.caption-subtitles {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 200;
}

.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(33, 33, 33, 1), transparent);
}

.favorites-texts {
    align-items: start;
}

.favorites-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    width: 60%;
}

.favorites-sub {
    font-family: 'Montserrat';
    width: 80%;
}

.spinner {
    gap: 20px;
}

mat-spinner {
    height: 20px;
}

.loading {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.gif {
    width: 20%;
    background: transparent;
}

.no-result-text {
    font-family: 'Montserrat';
    text-align: center;
}

:host::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #e43054 !important;
}

@media screen and (max-width: 1000px) {
    .controls {
        gap: 20%;
    }

    .favorites-text {
        font-size: 32px;
        width: 80%;
    }

    .favorites-sub {
        font-family: 'Montserrat';
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .controls {
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .input-container {
        width: 16rem;
    }

    .carousel-container {
        flex-direction: column;
        justify-content: center;
    }

    .favorites-text {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .favorites-sub {
        text-align: center;
        width: 100%;
    }
}



