.navbar {
    font-family: 'Montserrat';
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.navbar-brand {
    font-weight: 900;
    color: #000000;
}

.wishlist {
    gap: 10px;
    font-family: 'Montserrat';
    background: #000000;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.wishlist:hover,
.logout:hover {
    background: #292727;
    cursor: pointer;
}

.logout {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.logout:hover {
    background: #F6F8F9;
}

.actions {
    gap: 10px;
}

.logout {
    font-size: 20px;
}
