.hero-text {
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
}

.signin,
.signup {
    background: transparent;
    border: none;
    color: #000000;
}

.signin:hover,
.signup:hover {
    background: #000000;
    color: white;
}

.signin-signup {
    gap: 20px;
    font-family: 'Montserrat';
}

.vl {
    border-left: 1px solid #e0e0e0;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-inline {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-control {
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
    background-color: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: #afafaf;
    font-weight: 400;
    font-size: 12px;
}

.input-container i {
    position: absolute;
    right: 20px;
}

label {
    font-family: 'Poppins';
    margin-bottom: 5px;
    margin-left: 10px;
}

.fa {
    color: #000000;
}

.landing-section {
    position: relative;
    height: 95vh;
    overflow: hidden;
}

.city {
    z-index: -1;
    display: inline-block;
    max-width: 100%;
    animation: 10s animate linear infinite;
}

.city-scroll {
    white-space: nowrap;
    overflow: hidden;
}

@keyframes animate {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.filter-button {
    background: linear-gradient(to right, #000000, #000000);
    color: white !important;
    font-family: 'Montserrat' !important;
    border-radius: 10px;
    width: 100%;
    padding: 20px !important;

    transition: all 1s ease-in-out;
}

.filter-button:hover {
    background: linear-gradient(to right, #000000, #000000);
}

.filter-button:disabled {
    opacity: 0.7;
}

@media screen and (max-width: 576px) {
    .hero-text {
        font-size: 24px;
    }
}
