.hero-text {
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
}

.signin, .signup {
    background: transparent;
    border: none;
    color: #e4303f;
}

.signin:hover, .signup:hover {
    background: #e4303f;
    color: white;
}

.signin-signup {
    gap: 20px;
    font-family: 'Montserrat';
}

.vl {
    border-left: 1px solid #e0e0e0;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.form-inline {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-control {
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
    background-color: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: #afafaf;
    font-weight: 400;
    font-size: 12px;
}

.input-container i {
    position: absolute;
    right: 20px;
}

label {
    font-family: 'Poppins';
    margin-bottom: 5px;
    margin-left: 10px;
}

.fa {
    color: #e4303f;
}

.landing-section {
    position: relative;
    height: 95vh;
    overflow: hidden;
}

.city {
    position: absolute;
    bottom: 10px;
    z-index: -1;
}

.filter-button {
    background: linear-gradient(to right, #e43054, #D70565);
    color: white !important;
    font-family: 'Montserrat' !important;
    border-radius: 10px;
    width: 100%;
    padding: 20px !important;

    transition: all 1s ease-in-out;
}

.filter-button:hover {
    background: linear-gradient(to right, #D70565, #e43054);
}