.container {
    width: 100%;
}

.cards {
    gap: 20px;
}

.controls {
    font-family: 'Montserrat';
}

.control-icons {
    font-size: 24px;
    font-weight: 900;
}

.category-controls {
    gap: 40px;
}

.category-control {
    gap: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.category-control:hover {
    color: #000000;
}

.category-control-text {
    font-weight: 500;
    margin-bottom: 0px;
}

.filter {
    gap: 10px;
    color: #222222;
    border-color: #e0e0e0;
    border-radius: 10px;
}

.filter:hover {
    background: #F6F8F9;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 15rem;
}

.form-inline {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-control {
    border: none;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    color: #afafaf;
    font-weight: 400;
    font-size: 12px;
}

.input-container i {
    position: absolute;
    right: 20px;
}

.search-filter {
    gap: 20px;
}

.gif {
    width: 40%;
}

.no-result-text {
    font-family: 'Montserrat';
    text-align: center;
}

.spinner-container {
    height: 90vh;
}

.spinner {
    gap: 20px;
}

mat-spinner {
    height: 20px;
}

.loading {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

:host::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #000000 !important;
}

:host::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

:host::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

mat-select {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
}

mat-form-field {
    width: 100%;
}

.mat-mdc-option {
    font-family: 'Montserrat' !important;
    color: #222222;
    font-size: 14px;
}

.cityicon {
    width: 20px;
    height: 20px;
}

.spin-wheel {
    height: 40px;
    width: 40px;
    animation: rotating 3s linear infinite;
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-width: 1000px) {
    .controls {
        gap: 20%;
    }
}

@media screen and (max-width: 800px) {
    .controls {
        gap: 20px;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .input-container {
        width: 16rem;
    }

    .no-result-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {

    .input-container {
        width: 12rem;
    }

    :host::ng-deep .mat-mdc-text-field-wrapper {
        width: 100% !important;
    }
}


