<div class="container ms-3 me-3 pb-4">
    <div class="controls d-flex justify-content-between align-items-center py-md-3 mb-md-3 py-sm-2">
        <div class="category-controls d-flex">
            <button class="category-control d-flex flex-column align-items-center" (click)="displayCategory('commercial')">
                <i class="bi bi-buildings control-icons"></i>
                <p class="category-control-text">Commercial</p>
            </button>
            <button class="category-control d-flex flex-column align-items-center" (click)="displayCategory('residential')">
                <i class="bi bi-house-door control-icons"></i>
                <p class="category-control-text">Residential</p>
            </button>
            <button class="category-control d-flex flex-column align-items-center" (click)="displayCategory('rentals')">
                <i class="bi bi-building control-icons"></i>
                <p class="category-control-text">Rental</p>
            </button>
        </div>
        <div class="search-filter d-flex justify-content-between">
            <button class="btn btn-outline-secondary filter d-flex p-3" (click)="openDialog('200ms', '200ms')">
                <i class="bi bi-sliders"></i>
                <p class="filter-text mb-0">Filters</p>
            </button>
            
            <div class="input-container">
                <input class="form-control mr-sm-2 py-3" type="search" placeholder="Search a property" aria-label="Search" (keyup)="searchingProperty($event)" formControlName="searching">
                <i class="bi bi-search"></i>
            </div>
        </div>
    </div>
    <div class="spinner-container w-100 d-flex justify-content-center align-items-center" *ngIf="loading">
        <div class="spinner d-flex align-items-center">
            <mat-spinner diameter="40"></mat-spinner>
            <p class="loading mb-0">Loading</p>
        </div>
    </div>
    <div class="property-container" *ngIf="!loading">
        <div class="cards d-flex flex-column" *ngIf="displayProperties">
            <app-card class="app-card" *ngFor="let property of displayProperties" [images]="property.images"
                [propertyName]="property.propertyName" [price]="property.price" [location]="property.location"
                [features]="property.features" [ratings]="property.ratings" [category]="property.category"
                [id]="property.id" [area]="property.area">
            </app-card>
        </div>
        <div class="no-results d-flex flex-column justify-content-center align-items-center" *ngIf="displayProperties.length == 0">
            <img src="assets/images/no-results.svg" alt="" class="gif">
            <h2 class="no-result-text px-4">Oops! Maybe you are looking for something we do not have</h2>
        </div>
    </div>
</div>

<div id="head"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    (function(w, d) {
      w.CollectId = "655afcb020465d1aa0f1ab1e";

      var script = d.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = 'https://collectcdn.com/launcher.js';
      script.integrity = 'sha256-your-sha-256-hash';

      d.head.appendChild(script);
    })(window, document);
  });
</script>